.images {
    width: 95vw;
    object-fit: contain;
    max-inline-size: 100%;
}

/*
@media (max-width: 1300px) {
    .images {
        max-width: 1300px;
    }
}

@media (max-width: 767px) {
    .images {
        max-width: 767px;
    }
}

@media (max-width: 1299px) {
    .images {
        max-width: 1299px;
    }
}

@media (max-width: 600px) {
    .images {
        max-width: 600px;
    }
}
*/
