.images {
    width: 95vw;
    min-height: 450px;
    max-width: 1200px;
    object-fit: contain;
}

@media (min-width: 1300px) {
    .images {
        max-width: 1300px;
    }
}

@media (max-width: 767px) {
    .images {
        max-width: 767px;
    }
}

@media (max-width: 1299px) {
    .images {
        max-width: 1299px;
    }
}

@media (max-width: 600px) {
    .images {
        max-width: 500px;
    }
}
